body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(10, 23, 78);
    margin: 20px;
    background-color: #d7ebf8;
    font-size: larger;
}
.logo-container {
    display: flex;
    justify-content: space-around;  /* Adjusts spacing between logos */
    align-items: center;  /* Vertically aligns logos */
}
button{
    background-color: rgb(113, 168, 219);
    color: #e6e1e1 !important;  /* Dark text color */
    font-size: 20px;  /* Make text bigger */
    padding: 12px 24px;  /* Add padding for bigger button size */
    border: none; 
    border-radius: 50px; 
    cursor: pointer;  /* Change cursor to pointer when hovering */
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}
button:hover {
    background-color: #87CEEB;  /* Slightly darker blue on hover */
}
button:focus {
    outline: none;  /* Removes the outline on focus (optional, depends on your preference) */
}
button:active {
    background-color: #B0E0E6;  /* Even darker blue on click */
}
a:link {
    color: rgb(9, 48, 54);
    background-color: transparent;
    text-decoration: underline;
}
a:link.button {
    color: rgb(20, 21, 75);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(70, 38, 121);
    background-color: transparent;
    text-decoration: none;
}
button.button-back{
    background-color: rgb(201, 119, 52);
    color: #e6e1e1;  /* Dark text color */
    font-size: 20px;  /* Make text bigger */
    padding: 12px 24px;  /* Add padding for bigger button size */
    border: none; 
    border-radius: 50px; 
    cursor: pointer;  /* Change cursor to pointer when hovering */
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}
table.projects {
    width: 90%;
    margin-top: 10px;
    border-collapse: collapse;
    table-layout: fixed; 
    overflow: scroll;
    word-wrap:break-word;
}
table.projects th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #0b0d57;
    word-wrap:break-word
}
/* Make the header row stay fixed when scrolling */
table.projects thead, table.projects tbody {
    display: table;
    width: 90%;
    table-layout: fixed;
}
table.projects thead {
    background-color: #81b0d6;
}
button.logins{
    background-color: rgb(20, 14, 18);
    color: #e6e1e1;  
    font-size: 20px;  /* Make text bigger */
    padding: 10px 20px;  /* Add padding for bigger button size */
    border: none; 
    border-radius: 50px; 
    cursor: pointer;  /* Change cursor to pointer when hovering */
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}