<footer>
    <hr>
    <p style="font-size: 0.75em; margin:10px;"><em>Funded by the European Union under the Horizon Europe Programme, Grant Agreement No. 101136748 (BioEcoOcean). Views and opinions expressed 
        are however those of the author(s) only and do not necessarily reflect those of the European Union or the European Research Executive Agency (REA). 
        Neither the European Union nor the granting authority can be held responsible for them.</em></p>
    <p style="font-size: 0.75em; margin:10px;"><em>This app is being developed on GitHub: <a href="https://github.com/BioEcoOcean/metadata-app">https://github.com/BioEcoOcean/metadata-app</a>
    Issues and feedback with this app can be subumitted <a href="https://github.com/BioEcoOcean/metadata-tracking-dev/issues">here</a></em></p>
</footer>